Web References/is2EXDBGET/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://Walkthrough/XmlWebServices/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://Walkthrough/XmlWebServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Walkthrough/XmlWebServices/">
      <s:element name="EX_AM11GET">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUser" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EX_AM11GETResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EX_AM11GETResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_CM07GET">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUser" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_CM07GETResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EX_CM07GETResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_CM10GET">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUser" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_CM10GETResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EX_CM10GETResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_CM11GET">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUser" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_CM11GETResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EX_CM11GETResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_CM12GET">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUser" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_CM12GETResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EX_CM12GETResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_CM13GETS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUser" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_CM13GETSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EX_CM13GETSResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_CM14GETS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUser" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_CM14GETSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EX_CM14GETSResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_CM15GET">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUser" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_CM15GETResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EX_CM15GETResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_CM17GET">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUser" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="s会員" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="sZenUpdate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_CM17GETResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EX_CM17GETResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_CM18GET">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUser" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_CM18GETResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EX_CM18GETResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_CM19GET">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUser" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_CM19GETResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EX_CM19GETResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_XM01_GetUpdDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUser" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="sKaiinCD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sTableKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_XM01_GetUpdDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EX_XM01_GetUpdDateResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_XM01_SetUpdDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUser" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="sKaiinCD" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="sTableKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUpdDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUpdPG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUpdSya" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_XM01_SetUpdDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EX_XM01_SetUpdDateResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_SM01SET">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUser" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="sGetData" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EX_SM01SETResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EX_SM01SETResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wakeupDB">
        <s:complexType />
      </s:element>
      <s:element name="wakeupDBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wakeupDBResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wakeupDB2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iConCnt" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wakeupDB2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wakeupDB2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EX_AM11GETSoapIn">
    <wsdl:part name="parameters" element="tns:EX_AM11GET" />
  </wsdl:message>
  <wsdl:message name="EX_AM11GETSoapOut">
    <wsdl:part name="parameters" element="tns:EX_AM11GETResponse" />
  </wsdl:message>
  <wsdl:message name="EX_CM07GETSoapIn">
    <wsdl:part name="parameters" element="tns:EX_CM07GET" />
  </wsdl:message>
  <wsdl:message name="EX_CM07GETSoapOut">
    <wsdl:part name="parameters" element="tns:EX_CM07GETResponse" />
  </wsdl:message>
  <wsdl:message name="EX_CM10GETSoapIn">
    <wsdl:part name="parameters" element="tns:EX_CM10GET" />
  </wsdl:message>
  <wsdl:message name="EX_CM10GETSoapOut">
    <wsdl:part name="parameters" element="tns:EX_CM10GETResponse" />
  </wsdl:message>
  <wsdl:message name="EX_CM11GETSoapIn">
    <wsdl:part name="parameters" element="tns:EX_CM11GET" />
  </wsdl:message>
  <wsdl:message name="EX_CM11GETSoapOut">
    <wsdl:part name="parameters" element="tns:EX_CM11GETResponse" />
  </wsdl:message>
  <wsdl:message name="EX_CM12GETSoapIn">
    <wsdl:part name="parameters" element="tns:EX_CM12GET" />
  </wsdl:message>
  <wsdl:message name="EX_CM12GETSoapOut">
    <wsdl:part name="parameters" element="tns:EX_CM12GETResponse" />
  </wsdl:message>
  <wsdl:message name="EX_CM13GETSSoapIn">
    <wsdl:part name="parameters" element="tns:EX_CM13GETS" />
  </wsdl:message>
  <wsdl:message name="EX_CM13GETSSoapOut">
    <wsdl:part name="parameters" element="tns:EX_CM13GETSResponse" />
  </wsdl:message>
  <wsdl:message name="EX_CM14GETSSoapIn">
    <wsdl:part name="parameters" element="tns:EX_CM14GETS" />
  </wsdl:message>
  <wsdl:message name="EX_CM14GETSSoapOut">
    <wsdl:part name="parameters" element="tns:EX_CM14GETSResponse" />
  </wsdl:message>
  <wsdl:message name="EX_CM15GETSoapIn">
    <wsdl:part name="parameters" element="tns:EX_CM15GET" />
  </wsdl:message>
  <wsdl:message name="EX_CM15GETSoapOut">
    <wsdl:part name="parameters" element="tns:EX_CM15GETResponse" />
  </wsdl:message>
  <wsdl:message name="EX_CM17GETSoapIn">
    <wsdl:part name="parameters" element="tns:EX_CM17GET" />
  </wsdl:message>
  <wsdl:message name="EX_CM17GETSoapOut">
    <wsdl:part name="parameters" element="tns:EX_CM17GETResponse" />
  </wsdl:message>
  <wsdl:message name="EX_CM18GETSoapIn">
    <wsdl:part name="parameters" element="tns:EX_CM18GET" />
  </wsdl:message>
  <wsdl:message name="EX_CM18GETSoapOut">
    <wsdl:part name="parameters" element="tns:EX_CM18GETResponse" />
  </wsdl:message>
  <wsdl:message name="EX_CM19GETSoapIn">
    <wsdl:part name="parameters" element="tns:EX_CM19GET" />
  </wsdl:message>
  <wsdl:message name="EX_CM19GETSoapOut">
    <wsdl:part name="parameters" element="tns:EX_CM19GETResponse" />
  </wsdl:message>
  <wsdl:message name="EX_XM01_GetUpdDateSoapIn">
    <wsdl:part name="parameters" element="tns:EX_XM01_GetUpdDate" />
  </wsdl:message>
  <wsdl:message name="EX_XM01_GetUpdDateSoapOut">
    <wsdl:part name="parameters" element="tns:EX_XM01_GetUpdDateResponse" />
  </wsdl:message>
  <wsdl:message name="EX_XM01_SetUpdDateSoapIn">
    <wsdl:part name="parameters" element="tns:EX_XM01_SetUpdDate" />
  </wsdl:message>
  <wsdl:message name="EX_XM01_SetUpdDateSoapOut">
    <wsdl:part name="parameters" element="tns:EX_XM01_SetUpdDateResponse" />
  </wsdl:message>
  <wsdl:message name="EX_SM01SETSoapIn">
    <wsdl:part name="parameters" element="tns:EX_SM01SET" />
  </wsdl:message>
  <wsdl:message name="EX_SM01SETSoapOut">
    <wsdl:part name="parameters" element="tns:EX_SM01SETResponse" />
  </wsdl:message>
  <wsdl:message name="wakeupDBSoapIn">
    <wsdl:part name="parameters" element="tns:wakeupDB" />
  </wsdl:message>
  <wsdl:message name="wakeupDBSoapOut">
    <wsdl:part name="parameters" element="tns:wakeupDBResponse" />
  </wsdl:message>
  <wsdl:message name="wakeupDB2SoapIn">
    <wsdl:part name="parameters" element="tns:wakeupDB2" />
  </wsdl:message>
  <wsdl:message name="wakeupDB2SoapOut">
    <wsdl:part name="parameters" element="tns:wakeupDB2Response" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="EX_AM11GET">
      <wsdl:input message="tns:EX_AM11GETSoapIn" />
      <wsdl:output message="tns:EX_AM11GETSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EX_CM07GET">
      <wsdl:input message="tns:EX_CM07GETSoapIn" />
      <wsdl:output message="tns:EX_CM07GETSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EX_CM10GET">
      <wsdl:input message="tns:EX_CM10GETSoapIn" />
      <wsdl:output message="tns:EX_CM10GETSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EX_CM11GET">
      <wsdl:input message="tns:EX_CM11GETSoapIn" />
      <wsdl:output message="tns:EX_CM11GETSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EX_CM12GET">
      <wsdl:input message="tns:EX_CM12GETSoapIn" />
      <wsdl:output message="tns:EX_CM12GETSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EX_CM13GETS">
      <wsdl:input message="tns:EX_CM13GETSSoapIn" />
      <wsdl:output message="tns:EX_CM13GETSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EX_CM14GETS">
      <wsdl:input message="tns:EX_CM14GETSSoapIn" />
      <wsdl:output message="tns:EX_CM14GETSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EX_CM15GET">
      <wsdl:input message="tns:EX_CM15GETSoapIn" />
      <wsdl:output message="tns:EX_CM15GETSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EX_CM17GET">
      <wsdl:input message="tns:EX_CM17GETSoapIn" />
      <wsdl:output message="tns:EX_CM17GETSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EX_CM18GET">
      <wsdl:input message="tns:EX_CM18GETSoapIn" />
      <wsdl:output message="tns:EX_CM18GETSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EX_CM19GET">
      <wsdl:input message="tns:EX_CM19GETSoapIn" />
      <wsdl:output message="tns:EX_CM19GETSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EX_XM01_GetUpdDate">
      <wsdl:input message="tns:EX_XM01_GetUpdDateSoapIn" />
      <wsdl:output message="tns:EX_XM01_GetUpdDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EX_XM01_SetUpdDate">
      <wsdl:input message="tns:EX_XM01_SetUpdDateSoapIn" />
      <wsdl:output message="tns:EX_XM01_SetUpdDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EX_SM01SET">
      <wsdl:input message="tns:EX_SM01SETSoapIn" />
      <wsdl:output message="tns:EX_SM01SETSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wakeupDB">
      <wsdl:input message="tns:wakeupDBSoapIn" />
      <wsdl:output message="tns:wakeupDBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wakeupDB2">
      <wsdl:input message="tns:wakeupDB2SoapIn" />
      <wsdl:output message="tns:wakeupDB2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EX_AM11GET">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/EX_AM11GET" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EX_CM07GET">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/EX_CM07GET" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EX_CM10GET">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/EX_CM10GET" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EX_CM11GET">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/EX_CM11GET" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EX_CM12GET">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/EX_CM12GET" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EX_CM13GETS">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/EX_CM13GETS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EX_CM14GETS">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/EX_CM14GETS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EX_CM15GET">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/EX_CM15GET" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EX_CM17GET">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/EX_CM17GET" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EX_CM18GET">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/EX_CM18GET" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EX_CM19GET">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/EX_CM19GET" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EX_XM01_GetUpdDate">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/EX_XM01_GetUpdDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EX_XM01_SetUpdDate">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/EX_XM01_SetUpdDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EX_SM01SET">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/EX_SM01SET" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wakeupDB">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/wakeupDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wakeupDB2">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/wakeupDB2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">is2EXDBGET</documentation>
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://wwwis2.fukutsu.co.jp/is2ex/is2EXDBGET/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>