Web References/is2EXsyukka/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://Walkthrough/XmlWebServices/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://Walkthrough/XmlWebServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Walkthrough/XmlWebServices/">
      <s:element name="Ins_EX_syukka">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUser" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="sData" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Ins_EX_syukkaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ins_EX_syukkaResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_St01Status">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUser" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="sKaiinCD" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="sUpdDateTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_St01StatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_St01StatusResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wakeupDB">
        <s:complexType />
      </s:element>
      <s:element name="wakeupDBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wakeupDBResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wakeupDB2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iConCnt" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wakeupDB2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wakeupDB2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Ins_EX_syukkaSoapIn">
    <wsdl:part name="parameters" element="tns:Ins_EX_syukka" />
  </wsdl:message>
  <wsdl:message name="Ins_EX_syukkaSoapOut">
    <wsdl:part name="parameters" element="tns:Ins_EX_syukkaResponse" />
  </wsdl:message>
  <wsdl:message name="Get_St01StatusSoapIn">
    <wsdl:part name="parameters" element="tns:Get_St01Status" />
  </wsdl:message>
  <wsdl:message name="Get_St01StatusSoapOut">
    <wsdl:part name="parameters" element="tns:Get_St01StatusResponse" />
  </wsdl:message>
  <wsdl:message name="wakeupDBSoapIn">
    <wsdl:part name="parameters" element="tns:wakeupDB" />
  </wsdl:message>
  <wsdl:message name="wakeupDBSoapOut">
    <wsdl:part name="parameters" element="tns:wakeupDBResponse" />
  </wsdl:message>
  <wsdl:message name="wakeupDB2SoapIn">
    <wsdl:part name="parameters" element="tns:wakeupDB2" />
  </wsdl:message>
  <wsdl:message name="wakeupDB2SoapOut">
    <wsdl:part name="parameters" element="tns:wakeupDB2Response" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="Ins_EX_syukka">
      <wsdl:input message="tns:Ins_EX_syukkaSoapIn" />
      <wsdl:output message="tns:Ins_EX_syukkaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_St01Status">
      <wsdl:input message="tns:Get_St01StatusSoapIn" />
      <wsdl:output message="tns:Get_St01StatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wakeupDB">
      <wsdl:input message="tns:wakeupDBSoapIn" />
      <wsdl:output message="tns:wakeupDBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wakeupDB2">
      <wsdl:input message="tns:wakeupDB2SoapIn" />
      <wsdl:output message="tns:wakeupDB2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ins_EX_syukka">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/Ins_EX_syukka" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_St01Status">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/Get_St01Status" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wakeupDB">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/wakeupDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wakeupDB2">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/wakeupDB2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">is2EXsyukka</documentation>
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://wwwis2.fukutsu.co.jp/is2ex/is2EXsyukka/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>