Web References/is2address/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://Walkthrough/XmlWebServices/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://Walkthrough/XmlWebServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Walkthrough/XmlWebServices/">
      <s:element name="Get_byKen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUser" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="s都道府県_xFF23__xFF24_" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Get_byKenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_byKenResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_byKenShi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUser" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="s都道府県_xFF23__xFF24_" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="s市区町村_xFF23__xFF24_" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_byKenShiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_byKenShiResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_byPostcode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUser" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="s郵便番号" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_byPostcodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_byPostcodeResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_byPostcode2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUser" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="s郵便番号" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_byPostcode2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_byPostcode2Result" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wakeupDB">
        <s:complexType />
      </s:element>
      <s:element name="wakeupDBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wakeupDBResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wakeupDB2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iConCnt" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wakeupDB2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wakeupDB2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Get_byKenSoapIn">
    <wsdl:part name="parameters" element="tns:Get_byKen" />
  </wsdl:message>
  <wsdl:message name="Get_byKenSoapOut">
    <wsdl:part name="parameters" element="tns:Get_byKenResponse" />
  </wsdl:message>
  <wsdl:message name="Get_byKenShiSoapIn">
    <wsdl:part name="parameters" element="tns:Get_byKenShi" />
  </wsdl:message>
  <wsdl:message name="Get_byKenShiSoapOut">
    <wsdl:part name="parameters" element="tns:Get_byKenShiResponse" />
  </wsdl:message>
  <wsdl:message name="Get_byPostcodeSoapIn">
    <wsdl:part name="parameters" element="tns:Get_byPostcode" />
  </wsdl:message>
  <wsdl:message name="Get_byPostcodeSoapOut">
    <wsdl:part name="parameters" element="tns:Get_byPostcodeResponse" />
  </wsdl:message>
  <wsdl:message name="Get_byPostcode2SoapIn">
    <wsdl:part name="parameters" element="tns:Get_byPostcode2" />
  </wsdl:message>
  <wsdl:message name="Get_byPostcode2SoapOut">
    <wsdl:part name="parameters" element="tns:Get_byPostcode2Response" />
  </wsdl:message>
  <wsdl:message name="wakeupDBSoapIn">
    <wsdl:part name="parameters" element="tns:wakeupDB" />
  </wsdl:message>
  <wsdl:message name="wakeupDBSoapOut">
    <wsdl:part name="parameters" element="tns:wakeupDBResponse" />
  </wsdl:message>
  <wsdl:message name="wakeupDB2SoapIn">
    <wsdl:part name="parameters" element="tns:wakeupDB2" />
  </wsdl:message>
  <wsdl:message name="wakeupDB2SoapOut">
    <wsdl:part name="parameters" element="tns:wakeupDB2Response" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="Get_byKen">
      <wsdl:input message="tns:Get_byKenSoapIn" />
      <wsdl:output message="tns:Get_byKenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_byKenShi">
      <wsdl:input message="tns:Get_byKenShiSoapIn" />
      <wsdl:output message="tns:Get_byKenShiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_byPostcode">
      <wsdl:input message="tns:Get_byPostcodeSoapIn" />
      <wsdl:output message="tns:Get_byPostcodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_byPostcode2">
      <wsdl:input message="tns:Get_byPostcode2SoapIn" />
      <wsdl:output message="tns:Get_byPostcode2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wakeupDB">
      <wsdl:input message="tns:wakeupDBSoapIn" />
      <wsdl:output message="tns:wakeupDBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wakeupDB2">
      <wsdl:input message="tns:wakeupDB2SoapIn" />
      <wsdl:output message="tns:wakeupDB2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get_byKen">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/Get_byKen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_byKenShi">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/Get_byKenShi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_byPostcode">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/Get_byPostcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_byPostcode2">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/Get_byPostcode2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wakeupDB">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/wakeupDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wakeupDB2">
      <soap:operation soapAction="http://Walkthrough/XmlWebServices/wakeupDB2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">is2address</documentation>
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://wwwis2.fukutsu.co.jp/is2/is2address/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>